<%- include("header"); -%>

<div class="text-center" >
    <main class="form-signin">
        <form action="/signup" method="post" >
          <img class="mb-4" src="img/medi.jpg" alt="" width="82" height="100" style="border-radius: 30%;">
          <h1 class="h3 mb-3 fw-normal">Admin Signup</h1>
      
            <input name="username" type="text" class="form-control top" placeholder="Username" required  autocomplete="off">
            <input name="password" type="password" class="form-control middle" placeholder="Password" required autocomplete="off">
            <input name="confpass" type="password" class="form-control bottom" placeholder="Confirm Password" required autocomplete="off">
      
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign me up</button>

          <p class="mt-5 mb-3 text-muted">&copy; Group 4 SE Lab 2021-22</p>
        </form>
      </main>
      
</div> 


<%- include("footer"); -%>